/* Media Queries */
@media(max-width: 800px) {
    .navbar-expand-lg {
    background-color: rgba(8, 153, 98, 0.726);
    }}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: lightgray;
}

body {
  background: #D3D3D3;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
}

.imgs {
  background-color: white;
  padding: 20px;
}

#navbarDropdownMenuLink {
  color: black;
}

.nav-link {
  color: black;
}

.visImages {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: rgba(8, 153, 98, 0.726);
  text-align: center;
}

#description-image {
  float: left;
  width: 270px;
  height: 300px;
}

h3 {
  color: rgba(8, 153, 98, 0.726);
  text-align: left;
}
